<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta name="viewport" content="width=device-width"/>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <title>Restore password</title>
</head>
<body>
<table border=0 width="100%">
    <tbody>
    <tr>
        <td width="auto">
            <h3>Company name</h3>
        </td>
    </tr>
    </tbody>
</table>
<hr/>
<p>
<p>
<p>To restore your password please follow the link below</p>
<a href="127.0.0.1:3000/api/restore-password?email={{.Email}}&token={{.Token}}">Restore password</a>
</p>
</p>
</body>
</html>
